totem {
  version: 2
  cluster_name: lbcluster
  transport: udpu
  interface {
    ringnumber: 0
    bindnetaddr: 192.168.128.0
    broadcast: yes
    mcastport: 5405
  }
}

quorum {
  provider: corosync_votequorum
  two_node: 1
}

nodelist {
  node {
    ring0_addr: 192.168.128.101
    name: nodo1
    nodeid: 1
  }
  node {
    ring0_addr: 192.168.128.102
    name: nodo2
    nodeid: 2
  }
  node {
    ring0_addr: 192.168.128.103
    name: nodo3
    nodeid: 3
  }
}

logging {
  to_logfile: yes
  logfile: /var/log/corosync/corosync.log
  to_syslog: yes
  timestamp: on
}
